@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @*Custom header and title for this page sent to the ViewBags on the common layout*@
    ViewBag.Header = "About Me";
    ViewBag.Title = "About Me";
}

<body>
    <p>Hey, my name is Nathan Harker, I live in Provo, UT but am originally from Idaho. I am a junior in the Information Systems major at BYU. I hope to work in data analytics, machine learning, or tech management consulting after graduating. I enjoy playing sports, travelling, exercising, and watching Brooklyn 99 with my wife. </p>
    <img src="https://www.nathanharker.com/images/paris.jpg" height="300px" />
    <img src="https://www.nathanharker.com/images/colosseum.jpg" height="300px" />
    <img src="https://www.nathanharker.com/images/mexico.jpg" height="300px" />
</body>