@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Header = "Nate Harker's Website";
    ViewBag.Title = "Home";
}
<body>
    <img alt="Nate Italy" height="250px" width="auto" src="~/img/nate_italy.jpg" />
    <p class="image-caption">(I love to travel, this picture is in Italy from my trip last summer)</p>

    <p>
        I am very excited for this course as it seems that ASP.NET MVC Core is a very powerful framework
        and in very high demand these days. I hope during the course of the class that I can become proficient using the platform,
        have a better understanding of the MVC architecture, and learn valuable security techniques.
    </p>
    <br />

    <p>Top 3 post graduation jobs:</p>
    <div class="align-left">
        <ul>
            <li>Machine Learning Engineer</li>
            <li>Data Analyst</li>
            <li>IT Management Consulting</li>
        </ul>
    </div>

</body>